@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Lato:wght@300&family=Nunito:wght@200;400&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard selector to override default styling from browser*/
* {
    padding: 0;
    margin: 0;
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box;
}

/* General styles*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: #2C4658;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: #F4F4F2;
}

a:visited {
    color: #F4F4F2;
}

/* Header */
header {
    background-color: #2C4658;
    color: #F4F4F2;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

#logo {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    padding: 5px;
}

/* Navbar */
nav {
    font-size: 12px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
}

li a {
    flex-direction: row;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
}

#about {
    background-color: #BA567B;
    width: 33%;
    height: 2.5em;
}

#rides {
    background-color: #CD9853;
    width: 33%;
    height: 2.5em;
}

#join {
    background-color: #312539;
    width: 33%;
    height: 2.5em;
}



/* Main content */
main {
    /* Makes the main content take up all remaining space and not shrink*/
    flex: 1 0 auto;
    margin-top: 76px;
    
}

section {
    padding: 15px 25px;    
}

/* Intro section index page*/
#intro {
    height: 600px;
    width: 100%;
    background: url("assets/images/alessio-soggetti-JQGGf6OuIdQ-unsplash.webp");
}

/* Sign-up form

form {
    width: 100%;
    padding: 1em;
}

#fname, #lname, #email {
    width: 100%;
}

#intro {
    align-self: flex-end;
}

#signup {
    background: url("../assets/images/alessio-soggetti-JQGGf6OuIdQ-unsplash.webp") no-repeat center center/cover;
    


/* Footer */
footer {
    background-color: #2C4658;
    color: #F4F4F2;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #F4F4F2;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}