/* Wildcard selector to override default styling from browser*/
* {
    padding: 0;
    margin: 0;
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box;
}

/* General styles*/
/* Body = Flexbox container */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
/* This is flexbox-item 1*/
header {
    background-color: #2C4658;
    color: #F4F4F2;
}

/* Main content */
/* This is flexbox-item 2*/
main {

    /* Makes the main content take up all remaining space and not shrink*/
    flex: 1 0 auto;
}

/* Footer */
/* This is flexbox-item 3*/
footer{
    background-color: #2C4658;
    color: #F4F4F2;
}