@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Lato:wght@300&family=Nunito:wght@200;400&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard selector to override default styling from browser*/
* {
    padding: 0;
    margin: 0;
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box;
}

/* General styles*/
/* Body = Flexbox container */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

/* Header */
/* This is flexbox-item 1*/
header {
    background-color: #2C4658;
    color: #F4F4F2;
    text-align: center;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: #F4F4F2;
}

#logo {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    padding: 5px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    
}

li a {
    flex-direction: row;
    color: #F4F4F2;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#about {
    background-color: #BA567B;
}

#rides {
    background-color: #CD9853;
}

#join {
    background-color: #312539;
}



/* Main content */
/* This is flexbox-item 2*/
main {
    /* Makes the main content take up all remaining space and not shrink*/
    flex: 1 0 auto;
}

#intro {
    padding: 15px 25px 15px 25px;
}



/* Footer */
/* This is flexbox-item 3*/
footer {
    background-color: #2C4658;
    color: #F4F4F2;
}

footer a {
    color: #F4F4F2;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 15px 10px 15px;
}