@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Lato:wght@300&family=Nunito:wght@200;400&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Wildcard selector to override default styling from browser*/
* {
    padding: 0;
    margin: 0;
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box;
}

/* General styles*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: #F4F4F2;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
}

h3 {
    font-size: 20px;
    padding-bottom: 10px;
    background-color: #312539;
}

a {
    text-decoration: none;
    color: #F4F4F2;
}

a:visited {
    color: #F4F4F2;
}

/* Header */
header {
    background-color: #2C4658;
    color: #F4F4F2;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
}

#logo {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    padding: 5px;
}

/* Navbar */
nav {
    font-size: 12px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
}

li a {
    flex-direction: row;
    text-align: center;
}

li a:hover {
    text-decoration: underline;
}

#about {
    background-color: #312539;
    width: 33%;
    height: 2.5em;
}

#rides {
    background-color: #CD9853;
    width: 34%;
    height: 2.5em;
}

#join {
    background-color: #BA567B ;
    width: 33%;
    height: 2.5em;
}



/* Main content */
main {
    /* Makes the main content take up all remaining space and not shrink*/
    flex: 1 0 auto;
    margin-top: 76px;

}

section {
    padding: 15px 25px;
}

/* Index page */
#intro {
    height: 600px;
    width: 100%;
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(49, 37, 57, 0.4), rgba(186, 86, 123, 0.4)), url("../images/cycle-handlebar.webp") no-repeat center center/cover;
}

/* Sign-up page */

form {
    width: 100%;
    padding: 0;
}

#fname,
#lname,
#email {
    width: 100%;
    opacity: 0.8;
    border: none;
    color: #2C4658;
    padding: 2px;
    margin-bottom: 10px;
}

#signup {
    height: 600px;
    width: 100%;
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(49, 37, 57, 0.4), rgba(186, 86, 123, 0.4)), url("../images/join.webp") no-repeat center center/cover;
}

#submit {
    background-color: #BA567B;
    border: none;
    border-radius: 25px;
    width: 80px;
    text-align: center;
    color: #F4F4F2;
    margin-top: 20px;
}

/* Who we are page*/
#who-we-are {
    height: 600px;
    width: 100%;
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(49, 37, 57, 0.4), rgba(186, 86, 123, 0.4)), url("../images/two-riders.webp") no-repeat center center/cover;
}

#jens {
    opacity: 0.8;
    border-radius: 50%;
    height: 80px;

}

/* 
#intro {
    align-self: flex-end; 
} */






/* Footer */
footer {
    background-color: #2C4658;
    color: #F4F4F2;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #F4F4F2;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}