/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,800&family=Give+You+Glory&family=Nunito:wght@200;400&family=Qwitcher+Grypen&display=swap');

/* Wildcard selector to override default styling from browser*/
* {
    padding: 0;
    margin: 0;
    /* Width and height apply to all parts of the element: content, padding and borders */
    box-sizing: border-box;
}

/* General styles*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: #F4F4F2;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 15px;
    color: #4EABA5;
}

h3 {
    font-size: 1.3rem;
    padding-bottom: 10px;
    color: #4EABA5;
}

h4 {
    font-size: 1.1rem;
    padding-bottom: 10px;
    color: #F4F4F2;
}

p {
    font-size: 1rem;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #F4F4F2;
}

a:visited {
    color: #F4F4F2;
}

/* Header */
header {
    background-color: #2C4658;
    color: #F4F4F2;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem;
}

#logo {
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 5px;
}

/* Navbar */
nav {
    font-size: 12px;
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    background-color: #2C4658;
    left: 0px;
}

#menu {
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

/* Main content */
main {
    /* Makes the main content take up all remaining space and not shrink*/
    flex: 1 0 auto;
    margin-top: 76px;
}

section {
    padding: 45px 25px;
}

/* Home page */
#home {
    height: 100%;
    width: 100%;
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(49, 37, 57, 0.4), rgba(186, 86, 123, 0.4)), url("../images/two-riders.webp") no-repeat center center/cover;
}

#container-about {
    padding: 10px;
}

#container-intro,
#container-jens,
#container-joakim {
    padding: 30px;
    left: 20%;
    right: 20%;
}

#container-intro {
    background-color: rgba(49, 37, 57, 0.6);
}

#intro-text {
    max-width: 800px;
}

#signature {
    font-family: 'Give You Glory', cursive;
    padding-bottom: 0px;
    font-size: 20px;
}

#container-jens {
    background-color: rgba(186, 86, 123, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#container-joakim {
    background-color: rgba(78, 171, 165, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.portrait {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

#img-jens,
#img-joakim {
    margin-right: 20px;
}

.name {
    color: #F4F4F2;
}

#text-jens,
#text-joakim {
    max-width: 600px;
}

/* Our rides page*/
#rides-page {
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(44, 70, 88, 0.4), rgba(205, 105, 83, 0.8)), url("../images/cycle-handlebar.webp") no-repeat center center/cover;
    height: 100%;
    width: 100%;
}

.rides-heading>h3 {
    font-size: 1.1rem;
    padding-bottom: 10px;
    color: #F4F4F2;
}

#our-rides-intro {
    background-color: rgba(49, 37, 57, 0.6);
    padding: 10px;
}

.rides {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(244, 244, 242, 0.3);
    margin: 20px 0px;
    padding: 0px 10px 5px 10px;
}

.rides-heading {
    margin-top: 20px;
}

iframe {
    height: 350px;
    width: 325px;
    border: none;
    margin-bottom: 10px;
    padding: 5%;
}

.rides-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 5px;
    max-width: 320px;
}

.day,
.distance {
    text-align: left;
    font-size: 0.9rem;
    padding: 10px;
}

.day {
    width: 125px;
}

.distance {
    width: 80px;
}

.description {
    font-size: 0.8rem;
    padding: 10px;
    border-top: 1px solid #312539;
}

/* Join page */

#signup {
    height: 100%;
    width: 100%;
    /* Fallback colour */
    background: #312539;
    background: -webkit-linear-gradient(rgba(49, 37, 57, 0.3), rgba(186, 86, 123, 0.6)), url("../images/join.webp") no-repeat center center/cover;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#form {
    width: 100%;
    padding: 10px;
    background-color: rgba(78, 171, 165, 0.7);
    margin-bottom: 20px;
}

#form>h2 {
    color: #F4F4F2;
}

#form-info {
    width: 100%;
    padding: 20px;
    background-color: rgba(49, 37, 57, 0.6);
}

#fname,
#lname,
#email {
    width: 100%;
    border: none;
    padding: 2px;
    margin-bottom: 10px;
}

#label-agree {
    font-size: 0.8rem;
    font-style: italic;
}

fieldset {
    border-radius: 5px;
    border: 1px dotted;
    padding: 10px;
    margin: 20px 0px;
}

fieldset legend {
    padding-left: 2px;
}

fieldset label {
    font-size: 0.8rem;
}

input[type=radio],
input[type=checkbox] {
    padding: 16px;
    width: 20px;
    height: 20px;
    margin-top: 10px;

}

#submit {
    background-color: #2C4658;
    border: none;
    border-radius: 25px;
    width: 100px;
    text-align: center;
    padding: 5px;
    color: #F4F4F2;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #2C4658;
    color: #F4F4F2;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #F4F4F2;
}

#copyright {
    display: none;
}

#social-media {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

/* For extra small screens less than 380px */
@media only screen and (max-width: 380px) {

    iframe {
        height: 250px;
        width: 235px;
    }
}

/* For screens 768px and larger */
@media only screen and (min-width: 768px) {

    /* Navbar */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .content-box {
        max-width: 800px;
        margin: auto;
    }

    /* Home page */
    .portrait {
        height: 200px;
        width: 200px;
    }

    #container-jens {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #container-joakim {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #img-joakim {
        margin-left: 20px;
    }


    /*Our rides page*/
    #rides-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5%;
        row-gap: 30px;
        background-color: rgba(49, 37, 57, 0.6);
    }

    #our-rides-intro {
        padding: 30px 30px 0px 30px;
    }

    .rides {
        margin: 0px;
    }

    iframe,
    .description,
    .rides-info {
        width: 300px;
    }

    /* Join us page*/
    #form-container {
        display: flex;
        flex-direction: row-reverse;
    }

    #form-info {
        width: 600px;
        padding: 5% 30px 5% 50px;
    }

    #form {
        width: 300px;
        padding: 5%;
        margin-bottom: 0px;
    }

    /* Footer */
    #copyright {
        display: flex;
        font-size: 0.8rem;
        width: 80vw;
    }
}